= render 'spree/admin/shared/general_tabs'

.working_hours#edit
  .container
    %h1= @working_day.name
    %h4= "- #{@working_day.description}"
    %span#local_time= ""
    .row
      .col-1= "#"
      .col-3= "Start time"
      .col-3= "End Time"
      .col-3= "Description"
      .col-2= ""

    - @working_day.working_hours.each_with_index do |wh, index|
      = form_for (wh), url: admin_store_working_day_working_hour_path(@store, @working_day, wh) do |f|
        .row
          .col-1= index + 1
          .col-3
            %input.timestamp{target: "working_hour[start_time]"}
            = f.hidden_field :start_time, value: wh.start_time.to_f * 1000
          .col-3
            %input.timestamp{target: "working_hour[end_time]"}
            = f.hidden_field :end_time, value: wh.end_time.to_f * 1000
          .col-3= f.text_field :description
          .col-2
            = f.submit "Update", class: "btn btn-warning"
            = link_to "Destroy", admin_store_working_day_working_hour_path(@store.id, @working_day, wh.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure ?"}
    %br
    %br
    = form_for @working_day.working_hours.new, url: admin_store_working_day_working_hours_path(@store, @working_day) do |f|
      = f.label :start_time
      %input.timestamp{target: "working_hour[start_time]"}
      = f.hidden_field :start_time
      %br
      = f.label :end_time
      %input.timestamp{target: "working_hour[end_time]"}
      = f.hidden_field :end_time
      %br
      = f.label :description
      = f.text_field :description, placeholder: "Will be shown instead of hour."
      = f.submit :add

:javascript

  Spree.ready(function() {
    $("input.timestamp").map(function(el){
      let this_form = $(this).closest("form")
      let this_input = $(this)
      let target_name = this_input[0].attributes["target"].value
      let input_name = `input[name='${target_name}']`
      let input_obj = this_form.find(input_name)
      let val_ms = this_form.find(input_name).val()
      let old_date = new Date(parseInt(val_ms))

      if (isNaN(old_date))
        old_date = new Date()

      input_obj.val(old_date)

      $(this).flatpickr({
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        defaultDate: old_date,
        onChange: function(date) {
          input_obj.val(date[0])
        }
      })
    })
  })
