= render 'spree/admin/shared/general_tabs'

.working_hours#edit
  .container
    %h1= @working_day.name
    %h4= "- #{@working_day.description}"
    %span= "Current time in UTC: #{DateTime.now.utc}"
    %br
    %span= "Current time locally: "
    %span#local_time= ""
    .row
      .col-3= "#"
      .col-3= "Start time"
      .col-3= "End Time"
      .col-3= ""

    - @working_day.working_hours.each_with_index do |wh, index|
      .row
        .col-3= index + 1
        .col-3= wh.start_time.to_s(:hour_minute_am_pm)
        .col-3= wh.end_time.to_s(:hour_minute_am_pm)
        .col-3
          = link_to "Destroy", admin_store_working_day_working_hour_path(@store.id, @working_day, wh.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure ?"}
          = # link_to "Update", admin_store_working_day_working_hour_path(@store.id, @working_day, wh.id), class: "btn btn-warning", method: :patch
    %br
    %br
    %span= "* All times ares stored in UTC format!"
    = form_for @working_day.working_hours.new, url: admin_store_working_day_working_hours_path(@store, @working_day) do |f|
      = f.label :start_time
      = f.time_select :start_time
      %br
      = f.label :end_time
      = f.time_select :end_time
      %br
      = f.submit :add

:javascript
  Number.prototype.padLeft = function(base,chr){
    var  len = (String(base || 10).length - String(this).length)+1;
    return len > 0? new Array(len).join(chr || '0')+this : this;
  }

  function formatDate(d) {
    dformat = [d.getFullYear(),
              (d.getMonth()+1).padLeft(),
               d.getDate().padLeft()].join('-') +' ' +
              [d.getHours().padLeft(),
               d.getMinutes().padLeft(),
               d.getSeconds().padLeft()].join(':');
    return (dformat)
  }

  $(document).ready(function(){
    let current_time = new Date()
    $("span#local_time").html(formatDate(current_time))
  })